/*
light hero bg: #e8dcc4
darker hero bg: #e6bb9c

Earth brown: #f2995a, #f4a366
Cactus green: #4b9b4b, #4ea44e

Dark: #30251d

text-color : #9d897b
*/


:root {
  font-family: Inter, system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

/* Utility classes */
.cactus-green {
  background-color: #4b9b4b;
  color: #FFFFFF;
}

.cactus-green:hover {
  background-color: #4ea44e;
  transition: background-color .2s;
}

.earth-brown {
  background-color: #f2995a;
  color: #FFFFFF;
}

.earth-brown:hover {
  background-color: #f4a366;
  transition: background-color .2s;
}